In [ ]:
import OpenBlender
from io import StringIO
import pandas as pd
import numpy as np
import json

action = 'API_getObservationsFromDataset'

# ANCHOR: 'BTC to USD'

        
parameters = { 
    	'token':'63582f6a95162930245cef5fAMarjgczCw7RQm4RFIIiBjyo2AE8vt',
	'id_user':'63582f6a95162930245cef5f',
	'id_dataset':'5d4c3b789516290b02fe3e24',
	'missing_values_treatment':{"treatment":"raw","exclude":[]},
	'clean_numbers':'on' 
}


df = pd.read_json(StringIO(json.dumps(OpenBlender.call(action, parameters)['sample'])), convert_dates=False, convert_axes=False).sort_values('timestamp', ascending=False)
df.reset_index(drop=True, inplace=True)
df['date'] = [OpenBlender.unixToDate(ts, timezone = 'GMT') for ts in df.timestamp]
df = df.drop('timestamp', axis = 1)
df['%change'] = ((df['close'] - df['open']) / df['open']) * 100
df['%change'] = df['%change'].map("{:,.2f}%".format)
df['log_diff'] = np.log(df['close']) - np.log(df['open'])
print(df.shape)
df

Task ID: '63583af80895fafb4a9d8d4b'.
Total estimated consumption: 500.3 processing units.
16.67 %
33.33 %
50.0 %
66.67 %
83.33 %
100.0 % completed.
(3084, 9)

,volume,market_cap,high,low,close,open,date,%change,log_diff
0,256168.14467,2.561681e+05,19601.150000,19157.000000,19329.720000,19570.400000,24-10-2022 17:00:00,-1.23%,-0.012374
1,167057.20184,1.670572e+05,19695.000000,19070.110000,19570.400000,19204.290000,23-10-2022 17:00:00,1.91%,0.018885
2,110403.90837,1.104039e+05,19257.000000,19112.720000,19204.350000,19164.370000,22-10-2022 17:00:00,0.21%,0.002084
3,269310.75769,2.693108e+05,19250.000000,18650.000000,19164.370000,19041.920000,21-10-2022 17:00:00,0.64%,0.006410
4,223530.13068,2.235301e+05,19347.820000,18900.000000,19041.920000,19123.350000,20-10-2022 17:00:00,-0.43%,-0.004267
...,...,...,...,...,...,...,...,...,...
3079,21574.14454,1.001859e+07,466.385470,445.107783,464.379322,450.027798,05-04-2014 16:00:00,3.19%,0.031392
3080,39267.66735,1.773508e+07,457.327172,429.184117,451.645992,448.597144,04-04-2014 16:00:00,0.68%,0.006773
3081,74292.74955,3.319547e+07,452.441405,414.811104,446.819755,437.322089,03-04-2014 16:00:00,2.17%,0.021485
3082,96314.58755,4.222218e+07,494.111337,430.725909,438.377824,479.679615,02-04-2014 16:00:00,-8.61%,-0.090037
3083,62894.68307,3.012803e+07,491.267273,468.480105,479.023434,468.480105,01-04-2014 16:00:00,2.25%,0.022256